
<div class="main-missions-block">
	<div class="container">
		<div class="left-block">
			
			<button  class="hamburger" (click)="toggleClass()">
			  <span>toggle menu</span>
			</button>
			<h3>Missions</h3>
			<div class="gaming-block">
				<div class="filter-nav" [ngClass]="classes">
					
					<ul>
						<li><a href="#" class="active">All</a></li>
						<li><a href="#">Tournament</a></li>
						<li><a href="#">Cash</a></li>
						<li><a href="#">Active</a></li>
						<li><a href="#">Other</a></li>
						
					</ul>
				</div>
				<div class="gaming-items-block">
					<div class="items-row row">
						<div class="game-item big-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img3.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item unlock">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img2.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						
						
						
						
						
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						
					
					
					
					
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item unlock">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img2.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						<div class="game-item">
							<a href="#" class="image-block">								
								<img src="../../assets/images/game-img1.PNG">								
							</a>
							<h5><a href="#">Tournament Take Down</a></h5>
							<span>Reward: $150 Ticket</span>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="right-block">
			<div class="reload-bonus-block">
				<div class="bonus-item">
					<a href="#" class="image-block">
						<img src="../../assets/images/game-img4.PNG">
					</a>
					<div class="bonus-content">
						<h3>
							<a href="#">$200 Reload Bouns</a>
						</h3>
						<p>Deposit now for your $200 reaload bouns and try your hand at cash game and tourneys </p>
						<a href="#" class="btn">Deposit</a>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
</div>

