<div class="container">
	<div class="side-menu-block">
		<div class="top-filter-blocks">
			<ul>
				<li><a href="#">Cash Games</a></li>
				<li><a href="#">Tournament</a></li>
			</ul>
		</div>
		<div class="menu-items">
			<ul>
				<li><a href="#">All Tournament</a></li>
				<li><a href="#">All Games</a></li>
				<li><a href="#">All Buy-in</a></li>
				<li><a href="#">All (12 months)</a></li>
				<li>
					<a href="#">Final Hand</a>
					<div class="cards">
						<ul>
							<li class="item">
								<a href="#"></a>
							</li>
							<li class="item">
								<a href="#"></a>
							</li>
							<li class="item">
								<a href="#"></a>
							</li>
							<li class="item">
								<a href="#"></a>
							</li>
						</ul>
					</div>
				</li>
				<li><a href="#">Final Hand</a></li>
			</ul>
		</div>
	</div>
	
	
	<div class="right-content-block">
		<div class="hands-history-block">
			<h3>Hands History</h3>
			
			<div class="left-content">
				<span class="head">Today Final Hands (674 hands)</span>
				<div class="hands-history-table">
					<div class="row tr">
						<span class="time">12:36</span>
						<div class="discription">
							<a href="#" class="btn pink"><i class="down"></i> Three of a kind</a>
							<strong>Nl Hold'em Texas</strong>
							<span class="dis-text">
								<small>Steven-Stars Wins</small>
								<small>Pot Size 1234567</small>
							</span>
						</div>
						<div class="cards">
							<ul>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
							</ul>
						</div>
						<div class="buttons">
							<a href="#" class="btn lightbule"><i class="play"></i>Replay Hand</a>
							<a href="#" class="btn orange"><i class="text"></i> Tevt View</a>
						</div>
						
						
					</div><!-- row tr -->
					<div class="row tr">
						<span class="time">12:36</span>
						<div class="discription">
							<a href="#" class="btn green"><i class="down"></i> Three of a kind</a>
							<strong>Nl Hold'em Texas</strong>
							<span class="dis-text">
								<small>Steven-Stars Wins</small>
								<small>Pot Size 1234567</small>
							</span>
						</div>
						<div class="cards">
							<ul>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
							</ul>
						</div>
						<div class="buttons">
							<a href="#" class="btn lightbule"><i class="play"></i>Replay Hand</a>
							<a href="#" class="btn orange"><i class="text"></i> Tevt View</a>
						</div>
						
						
					</div><!-- row tr -->
					<div class="row tr">
						<span class="time">12:36</span>
						<div class="discription">
							<a href="#" class="btn green"><i class="down"></i> Three of a kind</a>
							<strong>Nl Hold'em Texas</strong>
							<span class="dis-text">
								<small>Steven-Stars Wins</small>
								<small>Pot Size 1234567</small>
							</span>
						</div>
						<div class="cards">
							<ul>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
							</ul>
						</div>
						<div class="buttons">
							<a href="#" class="btn lightbule"><i class="play"></i>Replay Hand</a>
							<a href="#" class="btn orange"><i class="text"></i> Tevt View</a>
						</div>
						
						
					</div><!-- row tr -->
					<div class="row tr">
						<span class="time">12:36</span>
						<div class="discription">
							<a href="#" class="btn pink"><i class="down"></i> Three of a kind</a>
							<strong>Nl Hold'em Texas</strong>
							<span class="dis-text">
								<small>Steven-Stars Wins</small>
								<small>Pot Size 1234567</small>
							</span>
						</div>
						<div class="cards">
							<ul>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
							</ul>
						</div>
						<div class="buttons">
							<a href="#" class="btn lightbule"><i class="play"></i>Replay Hand</a>
							<a href="#" class="btn orange"><i class="text"></i> Tevt View</a>
						</div>
						
						
					</div><!-- row tr -->
					<div class="row tr">
						<span class="time">12:36</span>
						<div class="discription">
							<a href="#" class="btn pink"><i class="down"></i> Three of a kind</a>
							<strong>Nl Hold'em Texas</strong>
							<span class="dis-text">
								<small>Steven-Stars Wins</small>
								<small>Pot Size 1234567</small>
							</span>
						</div>
						<div class="cards">
							<ul>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
							</ul>
						</div>
						<div class="buttons">
							<a href="#" class="btn lightbule"><i class="play"></i>Replay Hand</a>
							<a href="#" class="btn orange"><i class="text"></i> Tevt View</a>
						</div>
						
						
					</div><!-- row tr -->
					<div class="row tr">
						<span class="time">12:36</span>
						<div class="discription">
							<a href="#" class="btn green"><i class="down"></i> Three of a kind</a>
							<strong>Nl Hold'em Texas</strong>
							<span class="dis-text">
								<small>Steven-Stars Wins</small>
								<small>Pot Size 1234567</small>
							</span>
						</div>
						<div class="cards">
							<ul>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
								<li>
									<a href="#" class="item"></a>
								</li>
							</ul>
						</div>
						<div class="buttons">
							<a href="#" class="btn lightbule"><i class="play"></i>Replay Hand</a>
							<a href="#" class="btn orange"><i class="text"></i> Tevt View</a>
						</div>
						
						
					</div><!-- row tr -->
				</div><!-- hands-history-table -->
			</div><!-- left-content -->
			<div class="right-content">
				<div class="reload-bonus-block">
				<div class="bonus-item">
					<a class="image-block" href="#">
						<img class="ng-tns-c2-0" src="../../assets/images/game-img4.PNG">
					</a>
					<div class="bonus-content">
						<h3 class="ng-tns-c2-0">
							<a class="ng-tns-c2-0" href="#">$200 Reload Bouns</a>
						</h3>
						<p class="ng-tns-c2-0">Deposit now for your $200 reaload bouns and try your hand at cash game and tourneys </p>
						<a class="btn" href="#">Deposit</a>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
<app-popup></app-popup>