//colors
$white : #fff;
$black : #000;
$blue  : #0c29fa;
$red   : #f00;
$green : #008000;
$gray  : #808080;
$navyblue : #000080;
$darkblue : #020226;
$darkgray : #1d2942;

$span-color: #2a334a;


//border colors
$border-color1 : #0d4873;
$border-color2 : #4186a8;
$border-color3 : #6e502c;
$border-color4 : #955a21;



//font sizes

$themefont: 16px;
$fontsize-10: 10px;
$fontsize-11: 11px;
$fontsize-12: 12px;
$fontsize-14: 14px;
$fontsize-16: 16px;
$fontsize-18: 18px;
$fontsize-20: 20px;
$fontsize-22: 22px;
$fontsize-24: 24px;
$fontsize-26: 26px;
$fontsize-28: 28px;
$fontsize-30: 30px;