@import 'color.scss';
@import 'custompages/hands-history.scss';  

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;	
}
ol, ul,li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
}

body {
	font-family: Roboto;
	background: $darkblue;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 34px;
	color: orange;
}

.row:before,.row:after{
	display: table;
    content: " ";
}
.row:after {
	clear: both;
}

.container {
	width: 1390px;
	margin: 0 auto;
}


.main-missions-block {
	&:before,&:after {
		display: table;
    	content: " ";
	}
	&:after {
		clear: both;
	}
	display: block;
	padding-bottom: 40px;
	
	h3 {
		font-size: 24px;
		color: white;
	}
	.left-block {
		width: 70%;
		float: left;
		padding-left: 40px;
		position: relative;
	}
	.right-block {
		width: 30%;
		float: left;
		padding-left: 40px;
		padding-bottom: 40px;
	}
	
}
.hamburger {
	display: none;
	width: 34px;
	height: 34px;
	background: white;
	cursor: pointer;
}


.gaming-block {
	.filter-nav {
		width: 100%;
		display: block;
		padding-bottom: 5px;
		ul {
			text-align: center;
			li {
				display: inline-block;
				margin-left: 6px;
				a {
					display: block;
					min-width: 85px;
					font-size: $themefont;
					color: $white;
					line-height: 24px;
					padding:5px 10px;
					border: 1px solid $white;
					&.active,&:hover {
						background: $white;
						color: $black;
						font-weight: 600;
						transition: all ease-in-out .3s;
					}
				}
			}
		}
	}
	.gaming-items-block {
		width: 100%;
		display: block;
		padding: 20px 0;
		margin-top: 10px;
		.items-row {
			display: block;
			margin: 0 -5px;
			.game-item {
				width: 148px;
				float: left;
				padding: 0 5px;
				margin-bottom: 20px;
				&.big-item {
					width: 299px;
				}
				h5 {
					padding-top: 10px;
					font-size: $fontsize-14;
					line-height: 20px;
					a {
						color: $white;
						&:hover {
							color: orange;
							transition: all ease-in-out .3s;
						}
					}
				}
				span {
					display: block;
					color: $span-color;
					font-size: $fontsize-12;
					padding: 5px 0;
				}
				.image-block {
					display: block;
					width: 100%;
					height: 132px;
					text-align: center;
					position: relative;
					background: $darkgray;
					border: 1px solid $border-color1;
					border-radius: 4px;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
					}
					&:hover {
						border: 1px solid $border-color2;
						box-shadow: 0px 0px 3px 1px $border-color2;
						transition: all ease-in-out .3s;
					}
				}
				&.unlock {
					.image-block {
						border: 1px solid $border-color3;
						&:hover {
							border: 1px solid $border-color4;
							box-shadow: 0px 0px 3px 1px $border-color4;						
						}
					}
				}
			}
		}
	}
}


// Right-block start

.reload-bonus-block {
	width: 100%;
	.bonus-item {
		background: #141414;
		.image-block {
			display: block;
			text-align: center;
			img {
				width: 100%;
			}
		}
		.bonus-content {
			width: 84%;
			padding: 20px 20px;
			.btn {
				background: #131212; 
				display: inline-block;
				padding: 5px 10px;
				font-size:  $fontsize-14;
				line-height: 24px;
				color: $white;
				box-shadow: 0px 1px 3px 1px black;
				border-radius: 3px;
				margin-top: 15px;
				&:hover {
					color: orange;
					transition: all ease-in-out .3s;
					box-shadow: 0px 2px 3px 2px black;
				}
			}
		}
		h3 {
			font-size: $fontsize-28;
			font-weight: 600;
			padding: 10px 0;
			a {
				display: block;
				color: $white;
				&:hover {
					color: orange;
					transition: all ease-in-out .3s;
				}
			}
		}
		p {
			font-size: $fontsize-12;
			color: $white;
			line-height: 18px;
		}
		
	}
}



//Responsiv

@media only screen and (max-width: 1390px) {
	.container {		
		width: 1180px;
	}
}
@media only screen and (max-width: 1200px) {
	.container {		
		width: 980px;
	}
	.main-missions-block {
		.right-block {
			padding-left: 20px;
		}
	}
}
@media only screen and (max-width: 1024px) {
	.container {		
		width: 750px;
	}
	.main-missions-block {
		.left-block {
			padding: 0 30px;
    		width: 100%;
		}
		.right-block {
			padding: 0 30px;
    		width: 100%;
			margin-bottom: 40px;
		}
		.reload-bonus-block {
			max-width: 400px;
			margin: 0 auto;
		}
		
	}
	.gaming-block {
		.gaming-items-block {
			.items-row {
				.game-item {
					width: 233px;
					&.big-item {
						width: 466px;
					}
				}
			}
		}
	}	
}

@media only screen and (max-width: 767px) {
	.container {		
		width: 100%;
	}
	.hamburger {
		display: block;
		background: blue;
		font-size: 0;
		border: 1px solid orange;
		margin-bottom: 10px;
	}
	
	
	.main-missions-block {
		.left-block {
			padding: 0 10px;    		
		}
		.right-block {
			padding: 0 10px;    		
		}
		
	}
	.gaming-block {
		
			.filter-nav {
				opacity: 0;
				max-height:0;		
				transform: scaleY(0);  
				transform-origin: top;
				transition: all ease-in-out 1s;
				
				&.active {
					opacity: 1;
					max-height: 1000px;
					transform: scaleY(1);
				}
				ul {
					margin-top: 10px;
					li {
						width: 100%;
						margin: 0 0 5px 0;
					}
				}
			}
		
		.gaming-items-block {
			.items-row {
				text-align: center;
				.game-item {
					float: none;
					display: inline-block;
					&.big-item {
						width: 308px;
					}
				}
			}
		}
	}

	
}
app-popup {
	width: 100%;
	float: left;
	text-align: center;
}