<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header>
	<h1>Party Poker</h1>
</header>

<div class="main">
	

<div class="example-container">
  <div class="example-sidenav">
    <ul>
		<li><a routerLink="about" routerLinkActive="active">About</a></li>
		<li><a routerLink="service" routerLinkActive="active">Service</a></li>
		<li><a routerLink="handshistory" routerLinkActive="active">Hands History</a></li>
		<li><a (click)="pavan($event)" [ngClass]="pav">Popup</a></li>
	</ul>
  </div>
</div>
	
<router-outlet>
</router-outlet>

</div>

	 



